body {
  font-family: Arial, sans-serif;
  background: violet;
  color: white;
  text-align: center;
}

input {
  padding: 10px;
  width: 220px;
  margin: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.card {
  background: #161b22;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: 300px;
  display: inline-block;
}

.card img {
  width: 100px;
  border-radius: 50%;
}

.repo a {
  color: #58a6ff;
  display: block;
}

.winner {
  border: 3px solid green;
}

.loser {
  border: 3px solid red;
}

.loading {
  font-size: 20px;
}
